<body>
    <div class="row bg-dark">
        <div class="col-lg-3">
            <a class="nav-link active" href="#">Home</a>
        </div>
        <div class="col-lg-3">
            <a class="nav-link" href="#">Clients</a>
        </div>
        <div class="col-lg-3">
            <a class="nav-link" href="#">Finance</a>
        </div>
        <div class="col-lg-3">
            <a class="nav-link" href="#">Admin</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-12">
            <app-search-body class="col-4"></app-search-body>
        </div>
    </div>
</body>
